[Desktop Entry]
Type=Application
Name=Consortium
Name[ar]=مِتسِتي
Name[as]=Consortium
Name[ast]=Consortium
Name[az]=Consortium
Name[be]=Consortium
Name[be@latin]=Consortium
Name[bg]=Consortium
Name[bn]=মেটাসিটি
Name[bn_IN]=Consortium
Name[br]=Consortium
Name[bs]=Consortium
Name[ca]=Consortium
Name[ca@valencia]=Consortium
Name[crh]=Consortium
Name[cs]=Consortium
Name[cy]=Consortium
Name[da]=Consortium
Name[de]=Consortium
Name[dz]=མེ་ཊ་སི་ཊི།
Name[el]=Consortium
Name[en@shaw]=·𐑥𐑧𐑑𐑨𐑕𐑦𐑑𐑦
Name[en_CA]=Consortium
Name[en_GB]=Consortium
Name[eo]=Consortium
Name[es]=Consortium
Name[et]=Consortium
Name[eu]=Consortium
Name[fa]=متاسیتی
Name[fi]=Consortium
Name[fr]=Consortium
Name[ga]=Consortium
Name[gl]=Consortium
Name[gu]=મેટાસીટી
Name[ha]=Metaciti
Name[he]=Consortium
Name[hi]=मेटासिटी
Name[hr]=Consortium
Name[hu]=Consortium
Name[hy]=Մետասիթի
Name[id]=Consortium
Name[ig]=Consortium
Name[is]=Consortium
Name[it]=Consortium
Name[ja]=Consortium
Name[ka]=Consortium
Name[kn]=ಮೆಟಾಸಿಟಿ
Name[ko]=메타시티
Name[ku]=Consortium
Name[la]=Consortium
Name[lt]=Consortium
Name[lv]=Consortium
Name[mai]=मेटासिटी
Name[mg]=Consortium
Name[mk]=Consortium
Name[ml]=മെറ്റാസിറ്റി
Name[mn]=Consortium
Name[mr]=Consortium
Name[ms]=Consortium
Name[nb]=Consortium
Name[nds]=Consortium
Name[ne]=मेटासिटि
Name[nl]=Consortium
Name[nn]=Consortium
Name[oc]=Consortium
Name[or]=ମେଟାସିଟି
Name[pa]=ਮੈਟਾਸਿਟੀ
Name[pl]=Consortium
Name[pt]=Consortium
Name[pt_BR]=Consortium
Name[ro]=Consortium
Name[ru]=Consortium
Name[sk]=Consortium
Name[sl]=Consortium
Name[sq]=Consortium
Name[sr]=Метасити
Name[sr@latin]=Metasiti
Name[sv]=Consortium
Name[ta]=மெட்டாசிட்டி
Name[te]=మెటాసిటి
Name[th]=Consortium
Name[tk]=Consortium
Name[tr]=Consortium
Name[ug]=Consortium
Name[uk]=Consortium
Name[vi]=Consortium
Name[wa]=Consortium
Name[xh]=Iconsortium
Name[yo]=Consortium
Name[zh_CN]=Consortium
Name[zh_HK]=Consortium
Name[zh_TW]=Consortium
Exec=consortium
NoDisplay=true
# name of loadable control center module
X-GNOME-WMSettingsModule=consortium
# name we put on the WM spec check window
X-GNOME-WMName=Consortium
# back compat only 
X-GnomeWMSettingsLibrary=consortium
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=consortium
X-GNOME-Bugzilla-Component=general
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=true
